/*##### PHOTOGRAPHER PROFILE SECTION #####*/

.photographer-info-wrapper {
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 100px;
    padding: 0 50px;
    border-radius: 0.3rem;
    display: flex;
    flex-direction: row;
}

.photographer-info-wrapper > div {
    display: flex;
    width: 33%;
}

#photographer-info-txt {
    flex-direction: column;
    justify-content: center;
}

#photographer-info-txt h1 {
    color: #D3573C; 
    font-size: 4rem; 
    margin: 0;
}

.info-localization {
    margin: 0;
    color: #901C1C; 
    font-size: 1.5rem; 
}

.info-tagline {
    margin: 1.2rem 0 0 0;
    color: #525252; 
    font-size: 1.125rem; 
}

#photographer-info-contact {
    align-items: center;
    justify-content: center;
}

#photographer-info-img {
    justify-content: flex-end;
    align-items: center;
}

#photographer-info-img .img-container {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    filter: drop-shadow(0px 4px 12px rgba(0, 0, 0, 0.25));
    overflow: hidden;
}

#photographer-info-img .img-container img {
    height: 200px;
    width: 200px;
    object-fit: cover;
    transform: scale(1.1);
}

/*##### GALLERY FILTER #####*/

.gallery-filter-container {
    margin: 30px 100px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    font-size: 1.125rem;
}

.gallery-filter-container p {
    font-weight: 700; 
    padding: 0 20px 0 0;
    margin: 15px 0;
}

.dropdown-container {
    position: relative;
    height: 100%;
}

.dropdown {
    position: absolute;
    z-index: 10;
    border-radius: 5px;
    overflow: hidden;
    width: 190px;
}

.dropdown:hover {
    height: 150px;
}

.dropdown:hover .fa-chevron-down {
    transform: rotate(180deg);
}

.dropdown button {
    border: none;
    background-color: #901C1C;
}

.dropdown_content {
    max-height: 0;
    background-color: #901C1C;
    transition: max-height .1s ease-in-out;
    margin: 0;
    position: relative;
    top: -50px;
    left: -40px;
}

.dropdown_content li {
    position: relative;
    width: 190px;
    list-style: none;
}

.dropdown_content li::before{
    content: "";
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    width: 85%;
    height: 1px;
    background-color: #ffffff;
}

.btn_drop,
.dropdown_content li button{
    height: 50px;
    padding: 15px;
    font-size: 1.125rem;
    color: #ffffff;
}

.btn_drop {
    display: flex;
    justify-content: space-between;
    width: 190px;
    align-items: center;
    position: relative;
    z-index: 100;
}

.dropdown_content li button {
    width: 100%;
    text-align: left;
}

.dropdown_content li button:hover,
.dropdown_content li button:focus,
.btn_drop:hover,
.btn_drop:focus{
    background-color: #DB8876;
    color: #000000;
    cursor: pointer;
}

/*##### GALLERY #####*/

#gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 25px;
    margin: 0 100px;
}

.gallery-media-container {
    width: 100%;
    height: 350px;
    border-radius: 0.3rem;
    overflow: hidden;
}

.gallery-media-container img, .gallery-media-container video {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.gallery-media-container video {
    transform: scale(1.1); /* get rid of black stripes on top & bottom of miniature */
}

.gallery-text-container {
    margin: 10px 0 0 0;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.gallery-text-container h2 {
    color: #901C1C; 
    font-weight: 400; 
    margin: 0;
    font-size: 1.5rem;
}

.gallery-text-container p {
    margin: 0;
    color: #901C1C; 
    font-size: 1.5rem;
    font-weight: 500; 
}

.heart {
    font-size: 1.8rem;
}

.contact_button {
    font-size: 1.25rem; 
    font-weight: bold;
    color: white;
    padding: 20px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

.contact_button:hover {
    color: #000000;
    background-color: #DB8876;
}

/*##### STICKY LIKES & RATE BOX #####*/

.likes-rate-box {
    position: sticky;
    bottom: 0;
    left: 100%;
    margin-right: 50px;
    width: 20rem;
    background: #DB8876;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.likes-rate-box p {
    margin: 0;
    padding: 20px;
    font-size: 1.3rem;
    font-weight: 700;
}

.total-likes-heart {
    font-size: 1.6rem;
}

/*##### MODAL & CONTACT FORM #####*/

#contact_modal {
    display: none;
    position: absolute;
    z-index: 200;
    top: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background: rgba(196, 196, 196, 0.40);
}

.modal {
    position: relative;
    border-radius: 5px;
    background-color: #DB8876;
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
}

.modal-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 30px;
}

.modal-close-btn {
    position: absolute;
    top: 35px;
    right: 35px;
    background: transparent url(../assets/icons/close.svg) no-repeat center;
    border: none;
    cursor: pointer;
    height: 50px;
    width: 50px;
}

.modal-header h2 {
    font-size: 60px;
    font-weight: normal;
    margin: 0;
    line-height: 50px;
}

.modal-header p {
    font-size: 60px;
    font-weight: normal;
    margin: 0;
    line-height: 50px;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 30px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 10px;
}

form input.text-control {
    width: 100%;
    height: 60px;
    border: none;
    border-radius: 5px;
}

form textarea {
    width: 100%;
    height: 204px;
    border: none;
    border-radius: 5px;
}

form input.submit_button {
    font-size: 1.25rem; 
    font-weight: bold;
    color: white;
    padding: 20px 50px;
    margin-top: 10px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

form input.submit_button:hover {
    color: #000000;
    background-color: #DB8876;
}