#contact_modal {
    display: none;
}

.photographer-info-wrapper {
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 100px;
    padding: 0 50px;
    border-radius: 0.3rem;
    display: flex;
    flex-direction: row;
}

.photographer-info-wrapper > div {
    display: flex;
    width: 33%;
}

#photographer-info-txt {
    flex-direction: column;
    justify-content: center;
}

#photographer-info-txt h1 {
    color: #D3573C; 
    font-size: 4rem; 
    margin: 0;
}

.info-localization {
    margin: 0;
    color: #901C1C; 
    font-size: 1.5rem; 
}

.info-tagline {
    margin: 1.2rem 0 0 0;
    color: #525252; 
    font-size: 1.125rem; 
}

#photographer-info-contact {
    align-items: center;
    justify-content: center;
}

#photographer-info-img {
    justify-content: flex-end;
    align-items: center;
}

#photographer-info-img .img-container {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    filter: drop-shadow(0px 4px 12px rgba(0, 0, 0, 0.25));
    overflow: hidden;
}

#photographer-info-img .img-container img {
    height: 200px;
    width: 200px;
    object-fit: cover;
    transform: scale(1.1);
}


.gallery-filter {
    margin: 30px 100px;
}

.gallery-filter form {
    display: flex;
    flex-direction: row;
    font-size: 1.125rem;
}

.gallery-filter form label {
    font-size: 1.125rem;
    font-weight: 700; 
    padding: 0 20px 0 0;
}



#gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 25px;
    margin: 0 100px;
}

.gallery-media-container {
    width: 100%;
    height: 350px;
    border-radius: 0.3rem;
    overflow: hidden;
}

.gallery-media-container img, .gallery-media-container video {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.gallery-text-container {
    margin: 10px 0 0 0;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.gallery-text-container h2 {
    color: #901C1C; 
    font-weight: 400; 
    margin: 0;
    font-size: 1.5rem;
}

.gallery-text-container p {
    margin: 0;
    color: #901C1C; 
    font-size: 1.5rem;
    font-weight: 500; 
}

.heart {
    font-size: 1.8rem;
}

.contact_button {
    font-size: 1.25rem; 
    font-weight: bold;
    color: white;
    padding: 20px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

.contact_button:hover {
    color: #000000;
    background-color: #DB8876;
}

.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
}

.modal header {
    justify-content: space-between;
    width: 100%;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;
    text-align: center;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
}