/*##### GENERAL #####*/

@import url("photographer.css");

body {
	font-family: "DM Sans", sans-serif;
	margin: 0;
}

header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	height: 90px;
}

h1 {
	color: #901c1c;
	margin-right: 100px;
	font-weight: 400;
}

a {
	text-decoration: none;
}

.logo {
	height: 50px;
	margin-left: 100px;
}

.screen-reader-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
}

/*##### HOMEPAGE #####*/

.photographer_section {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 70px;
	margin: 100px 0 40px 0;
}

.photographer_section article {
	justify-self: center;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.photographer_section article h2 {
	color: #d3573c;
	font-size: 2.25rem;
	font-weight: 400;
	margin: 20px 0 0 0;
}

.photographer_section article a {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.photographer_section article .img-container {
	height: 200px;
	width: 200px;
	border-radius: 50%;
	filter: drop-shadow(0px 4px 12px rgba(0, 0, 0, 0.25));
	overflow: hidden;
}

.photographer_section article img {
	height: 200px;
	width: 200px;
	object-fit: cover;
	transform: scale(1.1);
}

.photographer_section article .txt-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.photographer_section article p {
	margin: 0 0 2px 0;
}

.photographer_section article .localization {
	color: #901c1c;
	font-size: 0.9rem;
}

.photographer_section article .citation {
	font-size: 0.8rem;
}

.photographer_section article .rate {
	color: #757575;
	font-size: 0.8rem;
}
